:root{
    --text: #FFF; /* rgb(255, 255, 255); */
    --background: #1c112c; /* rgb(28, 17, 44); */
    --primary: #e2d703; /* rgb(226, 215, 3); */
    --secondary: #d35d09; /* rgb(211, 93, 9); */
    --accent: #000; /* rgb(0, 0, 0); */
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}
header {
    padding: 1rem;
}
.header-logo {
    padding: 0;
    margin: 0;
    width: auto;
    height: 40px;
}
.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    horiz-align: center;
    margin: 1rem;
}
.header-list  {
    padding: 0;
    margin: 0;
}
.header-list li{
    display: inline-block;
}
.header-list a {
    padding: 0 1rem!important;
    color: var(--text);
    text-decoration: none;
}
.header-list a:hover {
    color: var(--primary);
}
.header-search {
    display: flex;
    flex-direction: row;
    vertical-align: center;
}
.header-search #searchBar {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 123, 123, 0.1);
}

.header-search input{
    padding: 3px 6px;
    font-weight: 700;

}

.header-search input::placeholder{
    opacity: 0.3;
    font-weight: 500;
}
.header-search .btn-search {
    background: transparent;
    border: none;
    cursor: pointer;
}
.header-search .btn-search i {
    color: var(--primary);
}
.header-banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
}
.btn-subscribe {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    border-color: var(--primary);
    border-radius: 20px;
    color: var(--text);
    background-color: var(--background);
    background-image: linear-gradient(75deg, var(--primary) 50%, transparent 50%);
    background-position: 100%;
    background-size: 600%;
    transition: background 430ms ease-in-out;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.btn-subscribe:hover {
    cursor: pointer;
    background-position: 0;
}

.banner-title {
    font-weight: 900;
    font-size: 4rem;
    z-index: 1000;
    margin: 0 auto;

}
.banner-paragraph {
    font-weight: 600;
    font-size: 1.8rem;
}
.header-auth {
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn-login, .btn-signup {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.btn-login:hover, .btn-signup:hover {
    color: var(--primary);
}

.btn-login i, .btn-signup i {
    font-size: 24px;
}


.btn-login::after, .btn-signup:hover::after {
    content: attr(title);
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.btn-login::after, .btn-signup::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}
.slider {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    opacity: 0.5;
    z-index: -1000;
    filter: blur(6px) brightness(.4) ;
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 15.2s infinite;
}

.slider .slide:nth-child(1) {
    background-image: url('https://cdn.apollo.audio/one/media/66a2/6f7f/a7ce/1605/b581/b3c6/upcoming-disney-films-released-2024.jpg?quality=80&format=jpg&crop=5,7,746,1323&resize=crop');
    animation-delay: 0s;
}

.slider .slide:nth-child(2) {
    background-image: url('https://cdn.mos.cms.futurecdn.net/zyHm3uT4MrshAuTjb28buJ.jpg');
    animation-delay: -3.8s;
}

.slider .slide:nth-child(3) {
    background-image: url('https://www.boxofficepro.com/wp-content/uploads/2024/08/TOYSTORY5-ONLINE-USE_D23B_008_C.pub16-scaled.jpg');
    animation-delay: -7.6s;
}

.slider .slide:nth-child(4) {
    background-image: url('https://variety.com/wp-content/uploads/2024/08/Lilo.jpg');
    animation-delay: -11.399999999999999s;
}


@keyframes slider {
    0%, 20%, 100% {
        opacity: 1;
        animation-timing-function: ease;
        z-index: 0;
    }
    25% {
        opacity: 0;
        animation-timing-function: step-end;
        z-index: 0;
    }
    95% {
        opacity: 1;
        animation-timing-function: step-end;
        z-index: -1;
    }
}

.home-cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
    justify-content: center;
}
.card {
    width: 240px;
    height: auto;
    overflow:hidden;
    border: 1px solid rgba(226, 215, 3, 0.3);
    border-radius: 10px;
    box-shadow: 3px 0 6px rgba(255,255,255,0.1);
    padding: 0.8rem;
    background: rgba(0,0,0, 0.15);
    margin: 1rem;
}
.card-img {
    padding: 10px;
}
.card-img_row {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card-img_row img {
    object-fit: cover;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
}
.card-explore {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.card-explore h6 {
    margin: 10px auto;
    font-size: 1rem;
    justify-content:flex-start;
    text-transform: uppercase;
}
.card-explore button {
    padding: 0 2px;
    color: var(--primary);
    background-color: var(--background);
    height: 1.3rem;
    margin: 0 auto;
    border: none;
    justify-content:flex-end;
    cursor: pointer;
}
.card-explore button:hover {
    color: var(--secondary);
    transform: scale(1.3);
    transition: 350ms ease-in-out;
}
.card-explore button i {
    font-size: 1rem;
}
