@import url('../../style.css');
.page-movies {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 14px;
}
.moviesTitle {
    font-weight: bold;
    position: relative;
    top: -20px;
    left: 12px;
    display: inline-block;
    z-index: 123;
    background: #e2d703;
    color: #fff;
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 1rem;
}
.movies-cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: clamp(1rem, 3vw, 2rem);
}
.sectionsMain_txt {
    padding: 0 1rem;
    margin: 0 1rem;
}
.moviesCard {
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(226, 215, 3, 0.3);
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.3s ease;
    transform: scale(0.9);
    height: 60vh;
}

.moviesCard:hover {
    transform: scale(1.05);
    background: rgba(0,0,0,0.3);
}

.movies-img {
    position: relative;
    width: 100%;
    height: 90%;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 16/9;
    margin-bottom: 1rem;
    background: rgba(0,0,0,0.2);
}

.movies-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.moviesCard:hover .movies-img img {
    transform: scale(1.1);
}


.moviesCardDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.moviesCardDetails span {
    font-size: 0.9rem;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.moviesCardDetails i {
    font-size: 1rem;
    color: var(--primary);
}


.moviesCardDetails span:first-child {
    margin-left: 0.5rem;
}

.moviesCardDetails span:last-child {
    margin-right: 0.5rem;
}